body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --opacity: 0;
    --position: absolute;
    --anim-state: paused;
    --span-color: black;
    --img: invert();
    --size: 0;
    --index: -1;
}

.element h2 {
    transition: all 0.7s;
    padding: 0;
    font-size: var(--size);
    z-index: var(--index);
    position: var(--position);
    opacity:var(--opacity);
    animation-play-state: var(--anim-state);
    pointer-events: none; /* Evita que el contenido sea interactivo durante la animación */
}

.element {
    background-color: rgb(201, 201, 201);
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 30%;
    align-items: center;
    transform: scale(1);
    transition: all 0.7s;
    
}
.element.desactive{
    visibility: hidden;
}

.element-b{
    color: rgb(147, 239, 255);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: .3rem;
    font-size: 35px;
    transition: all 0.7s;
    visibility: hidden;

    background: rgba(255, 255, 255, 0.059);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 2px solid rgb(147, 239, 255);


-webkit-box-shadow:0px 0px 25px 1px rgba(99,232,255,0.3);
-moz-box-shadow:   0px 0px 25px 1px rgba(99,232,255,0.3);
box-shadow:        0px 0px 25px 1px rgba(99,232,255,0.3);
}


#overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

  
.active{
    opacity:  1 !important;
    visibility: visible !important;
    transform: scale(1); /* Escala inicial */
    transition: transform 1.5s, opacity 1.5s ; /* Agregar transición a transform y opacity */
}

.not-active{
    opacity:  0 !important;
    transform: scale(0); /* Escalar el elemento a 0 */
    transition: all .8s cubic-bezier(1,0,.9,.4);
}




.element-b:hover {
    transition: all 0.7s;

    transform: scale(1.1);
}

.element:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 1rem;
    padding: 5px 10px;
    overflow: hidden;
    transition: all .7s;
    transform: scale(1.1);
    --position: relative; /* Oculta y saca del flujo de diseño */
    --anim-state: running;
    --opacity: 1;
    --span-color: black;
    --size: 18px;
    --index: 2;
    
}

.element::before{
    content: '';
    position: absolute;
    width:  250px;
    height: 250px;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(194, 254, 255));
}

.element::after{
    content: '';
    position: absolute;
    width:  250px;
    height: 250px;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(194, 254, 255));
}

.element::before,
.element::after {
    transition: all 0.7s;
    opacity: 0;
}

.element:hover::before {
    animation: round 4s linear infinite;
    opacity: 1;
}

.element:hover::after {
    animation: round 4s linear infinite;
    animation-delay: -2s;
    opacity: 1;
}

.element span {
    position: absolute;
    background-color: var(--span-color);
    inset: 3px;
    border-radius: 1rem;
    z-index: 1;
}

.element img {
    filter: var(--img);
    padding: 10px;
    width: auto;
    height: 40px;
    z-index: 3;
}

.element img:hover {
    animation: quitar 0.7s linear;
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




/*Drag Drop effects*/
.dg.ac{
    z-index: 100 !important ;
}

#cortain{
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.cortain{
    background-color: black;
    position: fixed;
    z-index: 100;
    height: 0vh;
    width: 100%;

    transition: all 2s;
    background: linear-gradient(to bottom, transparent 0%,rgba(0, 0, 0, 0.1) 5%, rgb(0, 0, 0) 100%);
}
.cortain__top{
    top: 0;
    transform: rotate(180deg);
}
.cortain__bottom{
    bottom: 0;
}
.active-cortain{
    height: 20vh;
}