@font-face {
  font-family: az2;
  src: url("a2z.7f40eeaa.ttf") format("truetype");
}

#main-span {
  z-index: 1;
  opacity: 0;
  transition: all .6s ease-in;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1, h2, h3 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

html {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  filter: brightness(.9) saturate(1.5);
}

:root {
  --opacity: 0;
  --position: absolute;
  --anim-state: paused;
  --span-color: black;
  --img: invert();
  size: 0;
  --index: -1;
  --start-btn-scale: 1;
}

#renderer {
  transition: all 2.5s;
}

.dark {
  background-color: #0006;
  transition: all 1s;
}

.fade-in {
  animation: 2s ease-in forwards fadeIn;
}

.fade-out {
  animation: 2s ease-in forwards fadeOut;
}

.visible {
  transition: all .6s ease-out;
  opacity: 1 !important;
}

.deactive {
  display: none !important;
}

.no-visible {
  opacity: 0;
  transition: all 1.4s;
}

.element {
  background-color: #0000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
  transition: all .7s;
  display: flex;
  overflow: visible;
  transform: scale(1);
}

.element.desactive {
  visibility: hidden;
}

.element-b {
  color: #93efff;
  visibility: hidden;
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px #1f26875e;
  background: #ffffff0f;
  border: 2px solid #93efff;
  border-radius: 10px;
  align-items: center;
  padding: 10px 20px;
  font-size: 35px;
  transition: all .7s;
  display: flex;
  -webkit-box-shadow: 0 0 25px 1px #63e8ff4d;
  -moz-box-shadow: 0 0 25px 1px #63e8ff4d;
  box-shadow: 0 0 25px 1px #63e8ff4d;
}

#overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.active {
  transition: transform 1s, opacity 1s;
  transform: scale(1);
  opacity: 1 !important;
  visibility: visible !important;
}

.hover {
  transition: all 1.5s;
}

.no-focus {
  opacity: .4;
  transition: all 1.5s;
}

.not-active {
  transition: all .5s cubic-bezier(1, 0, .9, .4);
  transform: scale(0);
  opacity: 0 !important;
}

.element-container {
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.no-blur {
  backdrop-filter: unset;
  transition: all .5s;
}

.element-b:hover {
  transition: all .7s;
  transform: scale(1.1);
}

.element:hover {
  color: #fff;
  --position: relative;
  --anim-state: running;
  --opacity: 1;
  --span-color: black;
  --size: 18px;
  --index: 2;
  transition: all .7s;
  transform: scale(1.1);
}

.element span {
  text-align: center;
  color: #fff;
  font-family: az2;
  font-weight: 220;
}

.element img {
  z-index: 3;
  width: 80px;
  height: auto;
}

.dot-title {
  flex-direction: column;
  align-items: center;
  width: 220%;
  margin-bottom: 12px;
  transition: all 1.5s;
  display: flex;
  position: absolute;
  bottom: 100%;
}

.element h2 {
  text-align: center;
  color: #fff;
  pointer-events: none;
  width: fit-content;
  margin: 0;
  padding: 0;
  font-family: az2;
  font-size: 1.2rem;
  font-weight: 350;
  transition: all .7s;
}

@keyframes round {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.dg.ac {
  display: none;
  z-index: 100 !important;
}

#cortain {
  background-color: #0000;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.cortain {
  z-index: 100;
  background: linear-gradient(#0000 0%, #0000001a 5%, #000 100%);
  width: 100%;
  height: 0;
  transition: all 2s;
  position: fixed;
}

.cortain__top {
  top: 0;
  transform: rotate(180deg);
}

.cortain__bottom {
  bottom: 0;
}

.active-cortain {
  height: 20vh;
}

.root {
  z-index: 99;
  place-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  position: fixed;
  overflow: hidden;
}

.navbar {
  z-index: 100;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar__logo {
  background-image: url("logo.59c62cf4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 50px;
  margin-top: 15px;
}

.credit__logo.navbar__logo {
  margin: 0;
  position: absolute;
  top: 20px;
}

.navbar__back-btn {
  cursor: pointer;
  z-index: 100;
  background-image: url("back-btn-v2.1c3d060c.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 40px;
  transition: all .5s;
  position: absolute;
  top: 15px;
  left: 25px;
}

.navbar__back-btn:hover {
  transition: all .5s;
  transform: scale(1.05);
}

.footer {
  color: #aaa;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__action-btn {
  cursor: pointer;
  background-color: #0000;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 120px;
  height: 35px;
  margin: 0 30px;
}

.footer__text {
  text-align: center;
  text-transform: uppercase;
  font-family: az2;
  font-weight: 150;
}

.footer--hide-footer-btn {
  cursor: pointer;
  background-image: url("hide-footer-btn.4cd90797.png");
  background-position: 0;
  background-size: contain;
}

.footer--sound-btn {
  cursor: pointer;
  background-image: url("sound-btn.cb4b505f.gif");
  background-position: 100%;
  transition: all .6s;
  position: relative;
}

.footer--sound-btn.min {
  height: 2px;
  transition: all .6s;
  margin: 0 !important;
}

#sound-btn__span {
  cursor: pointer;
  color: #15eded;
  text-align: center;
  padding-top: 2px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}

.footer #navigation-menu {
  z-index: 0;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
  max-width: 360px;
  display: flex;
  position: relative;
}

.navigation-menu__btn-container {
  transition: all .5s;
  display: flex;
}

.navigation-menu__btn-container.actived {
  margin-bottom: 25px;
}

.navigation-menu__btn-container:hover {
  margin-bottom: 20px;
  transition: all .5s;
}

.btn-container__icon {
  z-index: 10;
  width: auto;
  height: 50px;
  position: relative;
}

.load-screen {
  background: #000;
  place-content: center;
  width: 70vw;
  height: 70vh;
  padding: 15vh 15vw;
  display: grid;
  position: relative;
}

.load-screen__logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%);
  margin: 0 !important;
}

.load-screen__span {
  color: #aaa;
  text-align: center;
  background: #8080801a;
  border-radius: .8rem;
  padding: 8px 15px 6px;
  font-family: az2;
  font-size: min(3.5vw, .7em);
  font-weight: 150;
  transition: all .5s;
  animation: 8s infinite both focus;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}

.load-screen__span:hover {
  background: #80808040 !important;
  transition: all 1.5s !important;
}

.load-screen__span * {
  cursor: pointer;
  animation: 5s infinite scales;
}

@keyframes focus {
  0% {
    background: #8080801a;
  }

  30% {
    background: #8080801f;
  }

  50% {
    background: #80808014;
  }

  80% {
    background: #8080801f;
  }

  100% {
    background: #8080801a;
  }
}

@keyframes scales {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.8);
  }
}

.action-container {
  width: 100%;
  height: 100%;
}

.action-container__start-btn {
  cursor: pointer;
  background: none;
  border: none;
  width: 220px;
  height: 220px;
  padding: 5px;
}

.start-btn__text {
  color: #fff;
  font-family: az2;
  font-size: 1.2em;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-btn__icon {
  filter: opacity(.5);
  background-image: url("inner_being_icon.4cf362a4.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all .5s;
  position: relative;
}

.start-btn__icon:hover {
  background-image: url("inner_being_icon-hover.a7218c9c.png");
  transition: all .7s;
  transform: scale(.9);
}

.start-btn__icon:after:hover {
  transform: scale(1);
}

.start-btn__icon:after {
  content: "";
  background-image: url("outter_begin_icon.6ded8366.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 120%;
  height: 120%;
  animation: 160s linear infinite rotate360;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate360 {
  to {
    transform: translate(-50%, -50%)rotate(360deg);
  }
}

.first-screen {
  width: 95vw;
  height: 95vh;
  padding: 5vw 5vh;
  font-family: az2;
  font-weight: 300;
  display: flex;
}

.first-screen__intro-container {
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
  padding-left: 10vw;
  display: flex;
}

.intro-container__title h1 {
  text-align: left;
  margin-bottom: 30px;
  font-size: 4vw;
  font-weight: 600;
  line-height: 1.2;
}

.intro-container__sub-title h2 {
  text-align: left;
  color: #f5f5f5;
  width: 80%;
  margin-bottom: 20px;
  font-size: 1.5vw;
}

.intro-container__control-panel {
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  display: flex;
}

.intro-container__control-panel button:not(:hover) {
  opacity: .8;
  transition: all .8s;
}

.intro-container__control-panel button:hover {
  transition: all .8s;
  transform: scale(1.05);
}

.control-panel__intro-btn {
  cursor: pointer;
  color: #fff;
  background-color: #0000;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 1em;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 40px;
  margin-right: 15px;
  padding: 0 10px;
  font-size: 1em;
  transition: all .4s;
  display: flex;
  position: relative;
}

.control-panel__intro-btn * {
  pointer-events: none;
}

.control-panel__intro-btn--features-btn {
  background-color: #0076ff80;
}

.control-panel__intro-btn--launch-app-btn {
  cursor: pointer;
  border: 2px solid #0076ff80;
}

.intro-btn__text {
  margin: 0 30px;
}

.intro-btn__icon {
  background-image: url("intro-btn__icon.b7bcda9b.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  padding: 5px;
  display: none;
}

.swiper {
  width: 60vw;
  height: 620px;
}

.swiper-pagination {
  margin-top: 80px;
}

span.swiper-pagination-bullet {
  color: #fff;
  text-align: center;
  text-align: center;
  opacity: 1;
  background: none;
  outline: 1px solid #15eded;
  width: 26px;
  height: 26px;
  padding: auto;
  font-size: 12px;
  line-height: 20px;
  box-shadow: 0 0 13px #15eded;
}

.swiper-pagination-bullet-active {
  background: #15eded !important;
}

.content-page.swiper-slide {
  text-align: center;
  padding: unset;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  display: flex;
}

.swiper-slide.content-page:not(.swiper-slide-active) {
  opacity: 0 !important;
}

.content-page {
  opacity: 0;
  text-align: center;
  text-shadow: 0 0 20 px #fff;
  color: #fff;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 160vw;
  max-width: 1920px;
  height: 480px;
  font-family: az2;
  font-size: 1.7em;
  display: flex;
}

.content-page .control-panel__intro-btn--launch-app-btn {
  border: 5px solid #0358badf;
  width: 250px;
  height: 50px;
}

#ntf .content-page__title {
  width: 165vw;
}

.content-page__title {
  margin: 0 0 15px;
  font-size: 2.6em;
  font-weight: 450;
}

.content-page__text {
  margin-bottom: 0;
  font-weight: 200;
  line-height: 30px;
}

.content-page__span-msg {
  color: #aaa;
  margin-top: 40px;
  font-weight: 150;
}

.credit {
  z-index: 100;
  color: #fff;
  backdrop-filter: blur(30px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: az2;
  font-size: 1em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.credit__item {
  margin-top: 30px;
}

.credit__text {
  width: fit-content;
  line-height: 1.5rem;
}

.text__span {
  color: #15eded;
}

.credit__info, .credit__description {
  display: inline;
}

.credit__more-info {
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  display: flex;
}

.credit__more-info a {
  text-decoration: none;
  color: #fff !important;
}

.credit__back-btn {
  cursor: pointer;
  content: "back";
  background-image: url("back-btn.58d09f6e.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 70px;
}

.credit__footer {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  display: flex;
  position: absolute;
  bottom: 2vh;
}

.footer__watermark {
  color: #15eded;
  margin-left: 20px;
  left: 15px;
}

.footer__social {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  height: fit-content;
  padding: 10px 0;
  display: flex;
}

.social__title {
  text-align: center;
  width: fit-content;
}

.social__icon-link {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
}

.icon-link__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25%;
  height: 30px;
  margin-top: 10px;
}

.icon-link__instagram {
  background-image: url("icon_instagram.85c94aa6.png");
}

.icon-link__discord {
  background-image: url("icon_discord.2c522d25.png");
}

.icon-link__twitter {
  background-image: url("icon_twiter.a527a1e1.png");
}

.letter {
  line-height: 1em;
  display: inline-block;
}

.preview-element {
  width: 140px;
  height: 140px;
}

.padding-extra {
  height: 60px !important;
  margin-top: 30px !important;
  padding: 15px !important;
}

.padding-extra .intro-btn__icon {
  width: 55px !important;
  height: 55px !important;
}

.padding-extra:hover {
  transition: all .4s;
  transform: scale(1.1);
}

@media only screen and (width <= 650px) and (orientation: portrait) {
  #sound-btn-bar {
    position: unset;
    width: 40px;
    height: 34px;
    margin: 0 -20px 0 0;
  }

  .content-page {
    width: 160vw;
    margin: 0;
  }

  .content-page__title {
    text-align: center;
    font-size: 2.4em;
  }

  .content-page__text, .content-page__span-msg {
    font-size: calc(.1em + 6vw);
  }

  .load-screen__logo.navbar__logo {
    position: absolute;
    top: 4vh;
  }

  .navbar__logo {
    position: unset;
    width: 80px;
    height: 40px;
    margin: 0;
  }

  .navbar__back-btn {
    position: unset;
    background-image: url("back-btn-v2.1c3d060c.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 34px;
    margin-left: -20px;
  }

  .action-container__start-btn {
    width: 58.8235vw;
    max-width: 180px;
    height: 58.8235vw;
    max-height: 180px;
  }

  .action-container__start-btn .start-btn__text {
    font-size: .9em;
  }

  .element-container {
    backdrop-filter: blur(15px);
    background-color: #3be8ff09;
  }

  .first-screen {
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0 !important;
  }

  .first-screen .intro-container__title h1, .first-screen .intro-container__sub-title h2 {
    text-align: center;
  }

  .first-screen .first-screen__intro-container {
    align-items: center;
    width: 100vw;
    padding: 0 0 10vh;
  }

  .load-screen {
    position: unset;
    width: 100vw;
    height: 100vh;
    padding: 0;
  }

  .load-screen__span {
    width: 50%;
    bottom: 20px;
  }

  .intro-container__title h1 {
    max-width: 100%;
    font-size: calc(1.2em + 5vw);
  }

  .intro-container__sub-title {
    place-items: center;
    display: grid;
  }

  .intro-container__sub-title h2 {
    font-size: 1em;
  }

  .intro-container__control-panel {
    justify-content: center;
    width: 100vw;
    height: 55px;
    padding: 0;
  }

  .content-page .control-panel__intro-btn {
    width: 33.3333%;
    height: fit-content;
    margin: 10px 5px;
    padding: 15px 0;
    font-size: calc(.1em + 5.2 vw) !important;
  }

  .content-page .intro-btn__text {
    font-size: inherit;
  }

  .control-panel__intro-btn {
    width: 37.037%;
    height: fit-content;
    padding: 10px 0;
  }

  .intro-btn__text {
    margin: 0;
    font-size: 4vw;
  }

  .intro-btn__icon {
    background-size: contain;
    padding: 0;
  }

  .footer {
    justify-content: space-around;
    padding: 0 15px;
    transition: all .7s;
  }

  .footer #navigation-menu {
    width: 80%;
    max-width: 310px;
  }

  .navigation-menu__btn-container img {
    height: 35px;
  }

  .footer__text {
    text-align: center;
    width: 70vw;
    font-size: calc(.1em + 3vw);
  }

  .footer__action-btn {
    width: 31px;
    height: 31px;
    margin: 0;
  }

  .footer--sound-btn {
    background-image: url("movil-sound-btn.90b77372.gif");
  }

  .footer--sound-btn.off {
    background-image: url("movil-sound-btn-off.63d05931.png");
  }

  .element.active img {
    width: 100px;
  }

  .element.active h2 {
    font-size: 1.9em;
  }

  .element.active span {
    font-size: 1.5em;
  }

  .footer__social {
    width: 33.3333vw;
  }

  .credit {
    position: unset;
    font-size: calc(.1em + 3vw);
  }

  .credit__back-btn {
    width: 120px;
    height: 10%;
  }

  .credit__item {
    text-align: center;
    margin: 0 40px 15px;
    font-size: calc(.1em + 4vw);
  }

  .credit__more-info {
    width: 90%;
  }

  .credit__footer {
    bottom: calc(18px + 2vh);
  }
}

@media only screen and (width <= 375px) {
  .content-page {
    width: 190vw;
  }

  .content-page__text {
    font-size: calc(.1em + 8vw);
  }

  .btn-container__icon {
    height: 42px;
  }
}
/*# sourceMappingURL=index.bc7a2d6f.css.map */
