.glitch {
  animation: 5s 5s infinite glitch;
  position: relative;
}

.glitch:before {
  content: attr(data-text);
  text-shadow: -2px 0 #ff00ff6c;
  animation: 7s linear infinite alternate-reverse noise-1, 5s 5.05s infinite glitch;
  position: absolute;
  top: 0;
  left: -2px;
  overflow: hidden;
}

.glitch:after {
  content: attr(data-text);
  text-shadow: -2px 0 #00ffff6f;
  animation: 7s linear infinite alternate-reverse noise-2, 5s 5s infinite glitch;
  position: absolute;
  top: 0;
  left: 2px;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg)skewX(90deg);
  }

  2% {
    transform: rotateX(0)skewX(0);
  }
}

@keyframes noise-1 {
  0%, 100% {
    clip-path: inset(0);
  }

  20% {
    clip-path: inset(78% 0 4%);
  }

  40% {
    clip-path: inset(22% 0 14%);
  }

  60% {
    clip-path: inset(97% 0 1%);
  }

  80% {
    clip-path: inset(9% 0 79%);
  }
}

@keyframes noise-2 {
  0%, 100% {
    clip-path: inset(0);
  }

  20% {
    clip-path: inset(46% 0 3%);
  }

  40% {
    clip-path: inset(93% 0 6%);
  }

  60% {
    clip-path: inset(39% 0 34%);
  }

  80% {
    clip-path: inset(47% 0 23%);
  }
}

.scanlines {
  mix-blend-mode: difference;
  overflow: hidden;
}

.scanlines:before {
  content: "";
  background: repeating-linear-gradient(#0000 0%, #ffffff0d .5%, #0000 1%);
  width: 100%;
  height: 100%;
  animation: 8s ease-in-out infinite alternate fudge;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes fudge {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(0, 2%);
  }
}

.glow {
  text-shadow: 0 0 1000px #dfbfbf;
  color: #0000;
  position: absolute;
  top: 0;
}

.subtitle {
  color: #a58d8d66;
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8vw;
  font-weight: 100;
  animation: 5s 5.02s infinite glitch-2;
  position: absolute;
  left: 17%;
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg)skewX(70deg);
  }

  2% {
    transform: rotateX(0)skewX(0);
  }
}

@font-face {
  font-family: az2;
  src: url("a2z.7f40eeaa.ttf") format("truetype");
}

body {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  filter: brightness(.9) saturate(1.5);
}

:root {
  --opacity: 0;
  --position: absolute;
  --anim-state: paused;
  --span-color: black;
  --img: invert();
  --size: 0;
  --index: -1;
  --start-btn-scale: 1;
}

#renderer {
  transition: all 2.5s;
}

.dark {
  background-color: #0006;
  transition: all 1s;
}

.fade-in {
  animation: 2s ease-in forwards fadeIn;
}

.fade-out {
  animation: 2s ease-in forwards fadeOut;
}

.deactive {
  display: none !important;
}

.no-visible {
  opacity: 0;
  transition: all 1.4s;
}

.element {
  background-color: #0000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 15px;
  transition: all .7s;
  display: flex;
  overflow: hidden;
  transform: scale(1);
}

.element.desactive {
  visibility: hidden;
}

.element-b {
  color: #93efff;
  visibility: hidden;
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px #1f26875e;
  background: #ffffff0f;
  border: 2px solid #93efff;
  border-radius: 10px;
  align-items: center;
  padding: 10px 20px;
  font-size: 35px;
  transition: all .7s;
  display: flex;
  -webkit-box-shadow: 0 0 25px 1px #63e8ff4d;
  -moz-box-shadow: 0 0 25px 1px #63e8ff4d;
  box-shadow: 0 0 25px 1px #63e8ff4d;
}

#overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.active {
  transition: transform 1.5s, opacity 1.5s;
  transform: scale(1);
  opacity: 1 !important;
  visibility: visible !important;
}

.not-active {
  transition: all .8s cubic-bezier(1, 0, .9, .4);
  transform: scale(0);
  opacity: 0 !important;
}

.element-b:hover {
  transition: all .7s;
  transform: scale(1.1);
}

.element:hover {
  color: #fff;
  --position: relative;
  --anim-state: running;
  --opacity: 1;
  --span-color: black;
  --size: 18px;
  --index: 2;
  transition: all .7s;
  overflow: hidden;
  transform: scale(1.1);
}

.element span {
  text-align: center;
  color: #fff;
  font-family: az2;
}

.element img {
  z-index: 3;
  width: 120px;
  height: auto;
  margin-bottom: 8px;
  padding: 10px;
}

.element h2 {
  text-align: center;
  color: #fff;
  pointer-events: none;
  margin: 0;
  padding: 0;
  font-family: az2;
  transition: all .7s;
}

@keyframes round {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.dg.ac {
  display: none;
  z-index: 100 !important;
}

#cortain {
  background-color: #0000;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.cortain {
  z-index: 100;
  background: linear-gradient(#0000 0%, #0000001a 5%, #000 100%);
  width: 100%;
  height: 0;
  transition: all 2s;
  position: fixed;
}

.cortain__top {
  top: 0;
  transform: rotate(180deg);
}

.cortain__bottom {
  bottom: 0;
}

.active-cortain {
  height: 20vh;
}

.root {
  z-index: 99;
  place-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  position: fixed;
  overflow: hidden;
}

.navbar {
  z-index: 100;
  place-content: center;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar__logo {
  background-image: url("logo.59c62cf4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 60px;
  margin: 25px;
}

.navbar__back-btn {
  cursor: pointer;
  z-index: 100;
  background-image: url("back-btn.58d09f6e.png");
  background-size: cover;
  width: 120px;
  height: 60px;
  transition: all .5s;
  position: absolute;
  top: 15px;
  left: 25px;
}

.navbar__back-btn:hover {
  transition: all .5s;
  transform: scale(1.05);
}

.footer {
  color: #aaa;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__action-btn {
  cursor: pointer;
  background-color: #0000;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 120px;
  height: 40px;
  margin: 0 30px;
}

.footer__text {
  text-align: center;
  font-family: az2;
  font-weight: 150;
}

.footer--hide-footer-btn {
  cursor: pointer;
  background-image: url("hide-footer-btn.4cd90797.png");
  background-position: 0;
}

.footer--sound-btn {
  cursor: pointer;
  background-image: url("sound-btn.cb4b505f.gif");
  background-position: 100%;
  position: relative;
}

#sound-btn__span {
  cursor: pointer;
  color: #15eded;
  text-align: center;
  padding-top: 2px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}

.footer #navigation-menu {
  z-index: 0;
  justify-content: space-evenly;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  position: relative;
}

.navigation-menu__btn-container {
  margin: 0, 15px;
  height: auto;
  transition: all .5s;
}

.navigation-menu__btn-container.actived {
  margin-bottom: 25px;
}

.navigation-menu__btn-container:hover {
  margin-bottom: 20px;
  transition: all .5s;
}

.btn-container__icon {
  z-index: 10;
  width: auto;
  height: 50px;
  position: relative;
}

.load-screen {
  place-content: center;
  width: 70vw;
  height: 70vh;
  padding: 15vh 15vw;
  display: grid;
  position: relative;
}

.load-screen__logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%);
  margin: 0 !important;
}

.load-screen__span {
  color: #aaa;
  text-align: center;
  font-family: az2;
  font-size: .8rem;
  font-weight: 150;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}

.action-container {
  width: 100%;
  height: 100%;
}

.action-container__start-btn {
  cursor: pointer;
  background: none;
  border: none;
  width: 260px;
  height: 260px;
  padding: 5px;
}

.start-btn__text {
  color: #fff;
  font-family: az2;
  font-size: 1.2em;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-btn__icon {
  filter: opacity(.5);
  background-image: url("inner_being_icon.4cf362a4.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all .5s;
  position: relative;
}

.start-btn__icon:hover {
  background-image: url("inner_being_icon-hover.a7218c9c.png");
  transition: all .7s;
  transform: scale(.9);
}

.start-btn__icon:after:hover {
  transform: scale(1);
}

.start-btn__icon:after {
  content: "";
  background-image: url("outter_begin_icon.6ded8366.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 120%;
  height: 120%;
  animation: 160s linear infinite rotate360;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate360 {
  to {
    transform: translate(-50%, -50%)rotate(360deg);
  }
}

.first-screen {
  font-family: az2;
  font-weight: 300;
}

.first-screen__intro-container {
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 80px 3.5em;
  display: flex;
}

.intro-container__title {
  margin-bottom: 30px;
  font-size: 5.5em;
  font-weight: 600;
  line-height: .9;
}

.intro-container__sub-title {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.intro-container__control-panel {
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  padding: 30px 15px;
  display: flex;
}

.intro-container__control-panel button:not(:hover) {
  opacity: .8;
  transition: all .8s;
}

.intro-container__control-panel button:hover {
  transition: all .8s;
  transform: scale(1.05);
}

.control-panel__intro-btn {
  cursor: pointer;
  color: #fff;
  background-color: #0000;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 1em;
  justify-content: space-evenly;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 55px;
  padding: 0 10px;
  font-size: 1em;
  transition: all .4s;
  display: flex;
  position: relative;
}

.control-panel__intro-btn * {
  pointer-events: none;
}

.control-panel__intro-btn--features-btn {
  background: linear-gradient(90deg, #0076ffcc .1%, #0000 90%);
}

.control-panel__intro-btn--launch-app-btn {
  cursor: pointer;
  background-image: url("intro-btn__launch-app.e2bdbd3a.png");
}

.intro-btn__text {
  margin-left: 25px;
  margin-right: 15px;
}

.intro-btn__icon {
  background-image: url("intro-btn__icon.b7bcda9b.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.swiper {
  width: 60vw;
  height: 620px;
}

.swiper-pagination {
  margin-top: 80px;
}

span.swiper-pagination-bullet {
  color: #fff;
  text-align: center;
  text-align: center;
  opacity: 1;
  background: none;
  outline: 1px solid #15eded;
  width: 26px;
  height: 26px;
  padding: auto;
  font-size: 12px;
  line-height: 20px;
  box-shadow: 0 0 13px #15eded;
}

.swiper-pagination-bullet-active {
  background: #15eded !important;
}

.content-page.swiper-slide {
  text-align: center;
  padding: unset;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  display: flex;
}

.swiper-slide.content-page:not(.swiper-slide-active) {
  opacity: 0 !important;
}

.content-page {
  opacity: 0;
  text-align: center;
  color: #fff;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 80vw;
  height: 420px;
  padding: 100px 80px;
  font-family: az2;
  font-size: 1.5em;
  display: flex;
}

.content-page__title {
  margin: 0 0 15px;
  font-size: 2.8em;
  font-weight: 450;
}

.content-page__text {
  margin-bottom: 0;
  font-weight: 200;
  line-height: 30px;
}

.content-page__span-msg {
  color: #aaa;
  margin-top: 40px;
  font-weight: 150;
}

.credit {
  z-index: 100;
  color: #fff;
  background-color: #000000f2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 102vh;
  font-family: az2;
  font-size: 1em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.credit__item {
  margin-top: 30px;
}

.credit__text {
  width: -moz-fit-content;
  width: fit-content;
}

.text__span {
  color: #15eded;
}

.credit__info, .credit__description {
  display: inline;
}

.credit__more-info {
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
  display: flex;
}

.credit__back-btn {
  cursor: pointer;
  content: "back";
  background-image: url("back-btn.58d09f6e.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 70px;
}

.credit__footer {
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-bottom: 30px;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__watermark {
  color: #15eded;
  margin-bottom: -10px;
  margin-left: 20px;
  left: 15px;
}

.footer__social {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 120px;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 20px;
  padding: 10px 0;
  display: flex;
}

.social__title {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}

.social__icon-link {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
}

.icon-link__item {
  background-repeat: no-repeat;
  background-size: contain;
  width: 25%;
  height: 30px;
  margin-top: 10px;
}

.icon-link__instagram {
  background-image: url("icon_instagram.85c94aa6.png");
}

.icon-link__facebook {
  background-image: url("icon_facebook.edc4bf2a.png");
}

.icon-link__twiter {
  background-image: url("icon_twiter.a527a1e1.png");
}

.letter {
  line-height: 1em;
  display: inline-block;
}

.preview-element {
  width: 140px;
  height: 140px;
}

.padding-extra {
  background-image: unset;
  margin-top: 15px;
  padding: 10px;
}

.padding-extra:hover {
  transition: all .4s;
  transform: scale(1.1);
}

/*# sourceMappingURL=index.03a2360a.css.map */
