@font-face {
  font-family: az2;
  src: url("a2z.7f40eeaa.ttf") format("truetype");
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --opacity: 0;
  --position: absolute;
  --anim-state: paused;
  --span-color: black;
  --img: invert();
  --size: 0;
  --index: -1;
  --start-btn-scale: 1;
}

.fade-in {
  animation: fadeIn 2s easy;
}

.deactive {
  display: none !important;
}

.no-visible {
  opacity: 0;
  transition: all 1s;
}

.element {
  background-color: #0000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 15px;
  transition: all .7s;
  display: flex;
  overflow: hidden;
  transform: scale(1);
}

.element.desactive {
  visibility: hidden;
}

.element-b {
  color: #93efff;
  visibility: hidden;
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px #1f26875e;
  background: #ffffff0f;
  border: 2px solid #93efff;
  border-radius: 10px;
  align-items: center;
  padding: 10px 20px;
  font-size: 35px;
  transition: all .7s;
  display: flex;
  -webkit-box-shadow: 0 0 25px 1px #63e8ff4d;
  -moz-box-shadow: 0 0 25px 1px #63e8ff4d;
  box-shadow: 0 0 25px 1px #63e8ff4d;
}

#overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.active {
  transition: transform 1.5s, opacity 1.5s;
  transform: scale(1);
  opacity: 1 !important;
  visibility: visible !important;
}

.not-active {
  transition: all .8s cubic-bezier(1, 0, .9, .4);
  transform: scale(0);
  opacity: 0 !important;
}

.element-b:hover {
  transition: all .7s;
  transform: scale(1.1);
}

.element:hover {
  color: #fff;
  --position: relative;
  --anim-state: running;
  --opacity: 1;
  --span-color: black;
  --size: 18px;
  --index: 2;
  transition: all .7s;
  overflow: hidden;
  transform: scale(1.1);
}

.element span {
  text-align: center;
  color: #fff;
  font-family: az2;
}

.element img {
  z-index: 3;
  width: 120px;
  height: auto;
  margin-bottom: 8px;
  padding: 10px;
}

.element h2 {
  text-align: center;
  color: #fff;
  pointer-events: none;
  margin: 0;
  padding: 0;
  font-family: az2;
  transition: all .7s;
}

@keyframes round {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dg.ac {
  display: none;
  z-index: 100 !important;
}

#cortain {
  background-color: #0000;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.cortain {
  z-index: 100;
  background: linear-gradient(#0000 0%, #0000001a 5%, #000 100%);
  width: 100%;
  height: 0;
  transition: all 2s;
  position: fixed;
}

.cortain__top {
  top: 0;
  transform: rotate(180deg);
}

.cortain__bottom {
  bottom: 0;
}

.active-cortain {
  height: 20vh;
}

.root {
  z-index: 99;
  place-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  position: fixed;
  overflow: hidden;
}

.navbar {
  z-index: 100;
  place-content: center;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar__logo {
  background-image: url("logo.59c62cf4.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  margin: 25px;
}

.footer {
  color: #898888;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__action-btn {
  background-color: #0000;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 120px;
  height: 40px;
  margin: 0 30px;
}

.footer__text {
  font-family: az2;
  font-weight: 150;
}

.footer--hide-footer-btn {
  background-image: url("hide-footer-btn.4cd90797.png");
  background-position: 0;
}

.footer--sound-btn {
  background-image: url("sound-btn.eccb67aa.png");
  background-position: 100%;
  padding: 10px 0;
}

.load-screen {
  place-content: center;
  width: 70vw;
  height: 70vh;
  padding: 15vh 15vw;
  display: grid;
  position: relative;
}

.action-container {
  width: 100%;
  height: 100%;
}

.action-container__start-btn {
  background: none;
  border: none;
  width: 260px;
  height: 260px;
  padding: 5px;
}

.start-btn__text {
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-btn__icon {
  background-image: url("begin-icon.6ccec239.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.first-screen {
  font-family: az2;
  font-weight: 300;
}

.first-screen__intro-container {
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 80px 3.5em;
  display: flex;
}

.intro-container__title {
  margin-bottom: 30px;
  font-size: 5.5em;
  font-weight: 600;
  line-height: .9;
}

.intro-container__sub-title {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.intro-container__control-panel {
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  padding: 30px 15px;
  display: flex;
}

.control-panel__intro-btn {
  color: #fff;
  background-color: #0000;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 1em;
  justify-content: space-evenly;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 55px;
  padding: 0 10px;
  font-size: 1em;
  display: flex;
  position: relative;
}

.control-panel__intro-btn--features-btn {
  background-image: url("intro-btn__features.ff39ca3f.png");
}

.control-panel__intro-btn--launch-app-btn {
  background-image: url("intro-btn__launch-app.e2bdbd3a.png");
}

.intro-btn__text {
  margin-left: 25px;
  margin-right: 15px;
}

.intro-btn__icon {
  background-image: url("intro-btn__icon.b7bcda9b.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  padding: 5px;
}

/*# sourceMappingURL=index.03a2360a.css.map */
